In [23]:
import pandas as pd

In [24]:
iris = pd.read_csv("Data/iris.csv")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [25]:
iris_mask = (iris['species'] == 'versicolor') | (iris['species'] == 'virginica') & (iris['petal_length'] > iris['petal_length'].mean())
len(iris_mask)

150

In [26]:
iris_Filtered = iris[iris_mask]

In [27]:
iris_Filtered.head()

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor

In [28]:
len(iris_Filtered)

100